<nav>
    <ul class="middle-menu-list">
        <li class="active"><a asp-action="Index" asp-controller="home">home</a></li>
        <li><a asp-action="index" asp-controller="Aboutus">about us</a></li>
        <li><a asp-action="index" asp-controller="Contactus">contact us</a></li>
        <li>
            <a asp-action="index" asp-controller="Blogs">
                blog
            </a>
        </li>
        <li>
            <a asp-action="index" asp-controller="Shop">
                shop
            </a>
        </li>
        <li>
            <a asp-action="index" asp-controller="Dashboard" asp-area="Admin">
                admin
            </a>
        </li>
    </ul>
</nav>