@{
    var controller = ViewContext.RouteData.Values["Controller"].ToString().ToLower();

}

<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel">Navigation</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class=" @(controller == "dashboard" ? "active" : "")">
                <a asp-action="Index" asp-controller="Dashboard">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Dashboard</span>
                </a>
            </li>

            <li class=" @(controller == "colors" ? "active" : "")">
                <a asp-action="Index" asp-controller="Colors">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Color</span>
                </a>
            </li>

        </ul>
    </div>
</nav>