@using BigonWebApp.Infrastructure.Entities
@model IEnumerable<Color>
@section Styles {
    <style>

        .haxCode {
            display: inline-block;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            border: 1px solid #dee2e6;
        }

    </style>
}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Color Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-header start -->
            <div class="page-header">
                <div class="row align-items-end">
                    <div class="col-lg-8">
                        <div class="page-header-title">
                            <div class="d-inline">
                                <h4>Color table</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page-header end -->
            <!-- Page-body start -->
            <div class="page-body">

                <!-- Table header styling table start -->
                <div class="card">
                    <div class="card-header">
                        <h5>
                            <a class="btn btn-success" asp-action="Create" asp-controller="Colors">Create color</a>
                        </h5>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table table-styling">
                                <thead>
                                    <tr class="table-primary">
                                        <th>#</th>
                                        <th>Color Name</th>
                                        <th>Color</th>
                                        <th>Created Date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="reflesh">

                                    @await Html.PartialAsync("_Grid", Model)

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Table header styling table end -->
            </div>
            <!-- Page-body end -->
        </div>
    </div>
    <!-- Main-body start -->

    <div id="styleSelector">
    </div>
</div>


@section sctipts {
    <script>
        function detailColor(id) {
            var id = id;
            $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').trigger('focus')
            })
            $.ajax({
                url: '@Url.Action("Detail", "Colors")',
                method: 'GET',
                data: { id: id },
                success: (response) => {
                    var data = response;
                    if (data["editedDate"] === null) {
                        var editStatus = "Color edit olunmayib"
                    }
                    var values =
                        `
                                <span><strong>Id : </strong>${data["id"]}</span><br/>
                                                <span><strong>Color name : </strong>${data["colorName"]}</span><br/>
                                                <span><strong>Created time : </strong>${data["createdDate"]}</span><br/>
                                                <span><strong>Hax code : </strong>${data["haxCode"]}</span><br/>
                                        <span><strong>Edited time : </strong>${editStatus}</span>

                            `
                    $(".modal-body").html(values)
                },
                error: (err) => {
                    console.log(err)
                }
            })
        }

        function deleteColor(id) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({

                        url: '@Url.Action("Delete", "Colors")',
                        type: 'POST',
                        data: { id: id },
                        success: (res) => {
                            $("#reflesh").html(res);
                            console.log(res)
                        },
                        error: (err) => {
                            console.log(err)
                        }
                    })
                    Swal.fire({
                        title: "Deleted!",
                        text: "Your file has been deleted.",
                        icon: "success"
                    });
                }
            });
        }
    </script>
}